In [ ]:
#all the dictionary methods
Mathematics_marks={
    "rahul":30,
    "anuj":35,
    "Diya":38,
    "ravi":40,
    "shyam":45,
    "rajesh":50,
    "khushwant":48,
    "Akshita":48,
    "kriti":49
}
print(Mathematics_marks)

{'rahul': 30, 'anuj': 35, 'Diya': 38, 'ravi': 40, 'shyam': 45, 'rajesh': 50, 'khushwant': 48, 'Akshita': 48, 'kriti': 49}

In [ ]:
for i in Mathematics_marks:
  print(i)

rahul
anuj
Diya
ravi
shyam
rajesh
khushwant
Akshita
kriti

In [ ]:
for i in Mathematics_marks.values():
  print(i)

30
35
38
40
45
50
48
48
49

In [ ]:
Mathematics_marks={
    "rahul":30,
    "anuj":35,
    "Diya":38,
    "ravi":40,
    "shyam":45,
    "rajesh":50,
    "khushwant":48,
    "Akshita":48,
    "kriti":49
}

In [ ]:
print(Mathematics_marks.items())

dict_items([('rahul', 30), ('anuj', 35), ('Diya', 38), ('ravi', 40), ('shyam', 45), ('rajesh', 50), ('khushwant', 48), ('Akshita', 48), ('kriti', 49)])

In [ ]:
science_marks=Mathematics_marks.copy()
print(science_marks)

{'rahul': 30, 'anuj': 35, 'Diya': 38, 'ravi': 40, 'shyam': 45, 'rajesh': 50, 'khushwant': 48, 'Akshita': 48, 'kriti': 49}

In [ ]:
Mathematics_marks.get("Akshita")

48

In [ ]:
science_marks.update({"kriti":45})
print(science_marks)

{'rahul': 30, 'anuj': 35, 'Diya': 38, 'ravi': 40, 'shyam': 45, 'rajesh': 50, 'khushwant': 48, 'Akshita': 48, 'kriti': 45}

In [ ]:
Mathematics_marks.keys()

dict_keys(['rahul', 'anuj', 'Diya', 'ravi', 'shyam', 'rajesh', 'khushwant', 'Akshita', 'kriti'])

In [ ]:
Mathematics_marks.pop("ravi")
print(Mathematics_marks)

{'rahul': 30, 'anuj': 35, 'shyam': 45, 'rajesh': 50, 'khushwant': 48, 'Akshita': 48, 'kriti': 49}

In [ ]:
Mathematics_marks.values()

dict_values([30, 35, 45, 50, 48, 48, 49])

In [ ]:
Mathematics_marks.clear()
print(Mathematics_marks)

{}

In [ ]:
print(science_marks.setdefault("khushwant"))
print(science_marks)

48
{'rahul': 30, 'anuj': 35, 'Diya': 38, 'ravi': 40, 'shyam': 45, 'rajesh': 50, 'khushwant': 48, 'Akshita': 48, 'kriti': 45}

In [ ]:
keys=["Fiza","Obama","Trump"]
values=3
marks=dict.fromkeys(keys,values)
print(marks)

{'Fiza': 3, 'Obama': 3, 'Trump': 3}

In [ ]:
print(marks["Obama"])

3